Repository the-nutritionist-mcr/online: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc-files, eslint, vitest related --run, prettier

chore: add loader back
  src/utils/loader.ts
Due: tsc-files, eslint, vitest related --run, prettier

chore: add some docs tags
  tnm-docs/docs/Application/Technical Documentation/working-with-the-backend/create-an-api-route.md
  tnm-docs/docs/Application/Technical Documentation/working-with-the-backend/working-with-secrets.md
Due: prettier

docs: add the secret value
  tnm-docs/docs/Application/Technical Documentation/working-with-the-backend/working-with-secrets.md
Due: prettier

chore: remove more dead code
  src/admin-app/features/planner/download-labels-dialog.tsx
  src/meal-planning/choose-meals-integrated.spec.ts
  src/meal-planning/choose-meals.spec.ts
  src/meal-planning/choose-meals.ts
  src/meal-planning/index.ts
  src/meal-planning/make-cook-plan-v2.ts
  src/meal-planning/make-cook-plan.spec.old
  src/meal-planning/make-cook-plan.spec.ts
  src/meal-planning/make-cook-plan.ts
Due: tsc-files, eslint, vitest related --run, prettier

chore: start putting in POM
  playwright-tests/login.spec.ts
  playwright.config.ts
  playwright/helpers/login.ts
  playwright/pages/account.ts
  playwright/pages/edit-recipe.ts
  playwright/pages/login.ts
  playwright/pages/recipes.ts
  playwright/tests/global-setup.ts
  playwright/tests/login.spec.ts
  playwright/tests/recipes.seeded.spec.ts
  src/utils/get-closed-or-open-status.ts
Due: tsc-files, eslint, vitest related --run, prettier

chore: add test-id
  playwright/helpers/select-from-dropdown.ts
  playwright/pages/edit-recipe.ts
  playwright/tests/recipes.seeded.spec.ts
  src/admin-app/features/recipes/edit-recipes-page.tsx
Due: tsc-files, eslint, vitest related --run, prettier

chore: add names to fields
  src/admin-app/features/recipes/edit-recipes-page.tsx
Due: tsc-files, eslint, vitest related --run, prettier

test: finish adding POM
  playwright/helpers/multi-select-from-dropdown.ts
  playwright/helpers/select-from-dropdown.ts
  playwright/pages/account.ts
  playwright/pages/edit-recipe.ts
  playwright/pages/recipes.ts
  playwright/tests/recipes.seeded.spec.ts
Due: tsc-files, eslint, vitest related --run, prettier

test: add test code
  playwright/helpers/chargebee.ts
  playwright/helpers/create-chargebee-customer.ts
  playwright/helpers/does-cognito-user-exist.ts
  playwright/helpers/wait-until-cognito-user-doesnt-exist.ts
Due: tsc-files, eslint, vitest related --run, prettier

test: add new test
  playwright/pages/recipes.ts
  playwright/tests/recipes.seeded.spec.ts
Due: tsc-files, eslint, vitest related --run, prettier

test: add planner tests
  .gitignore
  package-lock.json
  package.json
  playwright/helpers/chargebee/create-customer.ts
  playwright/helpers/chargebee/delete-customer.ts
  playwright/helpers/chargebee/error-type.ts
  playwright/helpers/chargebee/get-customer.ts
  playwright/helpers/chargebee/initialise.ts
  playwright/helpers/wait-until-cognito-user-doesnt-exist.ts
  playwright/pages/customers.ts
  playwright/pages/planner.ts
  playwright/test-1.spec.ts
  playwright/tests/planner.seeded.spec.ts
Due: tsc-files, eslint, vitest related --run, prettier

test: upload playwright report
  .github/workflows/main.yml
Due: none

test: add first part of the planner test
  playwright/helpers/chargebee/add-subscription.ts
  playwright/helpers/chargebee/add-test-card.ts
  playwright/test-1.spec.ts
  playwright/tests/planner.seeded.spec.ts
Due: tsc-files, eslint, vitest related --run, prettier

test: add timeout
  playwright/tests/planner.seeded.spec.ts
Due: tsc-files, eslint, vitest related --run, prettier

test: report dir
  .github/workflows/main.yml
Due: none

test: ignore thing
  playwright/helpers/chargebee/delete-customer.ts
Due: tsc-files, eslint, vitest related --run, prettier

test: add chargebee token to E2E tests
  .github/workflows/main.yml
Due: none

chore: remove test report upload for now
  .github/workflows/main.yml
Due: none

chore: add non working test
  playwright/helpers/select-from-date-picker.ts
  playwright/pages/recipes.ts
  playwright/tests/base.ts
  playwright/tests/planner.seeded.spec.ts
Due: tsc-files, eslint, vitest related --run, prettier

chore: updates deps for initial adam install
  package-lock.json
Due: prettier

fix: adds plan.id as unique "key" prop for mapped array items
  src/components/organisms/account/account.tsx
Due: tsc-files, eslint, vitest related --run, prettier

feat: respects user exclusions in the meal chooser
  src/components/organisms/meal-selections/initial-selections.tsx
  src/components/organisms/meal-selections/meal-list.tsx
Due: tsc-files, eslint, vitest related --run, prettier

chore: removes console logs
  src/components/organisms/meal-selections/meal-list.tsx
Due: tsc-files, eslint, vitest related --run, prettier

fix: moves exclusion filtering up a level to intercept selection earlier
  src/components/organisms/meal-selections/initial-selections.tsx
  src/components/organisms/meal-selections/meal-selections.tsx
Due: tsc-files, eslint, vitest related --run, prettier

refactor: things -> menu, thing -> menuItem 😀
  src/components/organisms/meal-selections/initial-selections.tsx
  src/components/organisms/meal-selections/meal-list.tsx
Due: tsc-files, eslint, vitest related --run, prettier

fix: increasing a meal’s count duplicated the item in the list
  src/components/organisms/meal-selections/initial-selections.tsx
  src/components/organisms/meal-selections/meal-list.tsx
  src/components/organisms/meal-selections/meal-selections.tsx
Due: tsc-files, eslint, vitest related --run, prettier

spaces-out account page panels
  src/components/containers/form-section/form-section.css.ts
  src/components/containers/form-section/form-section.tsx
Due: tsc-files, eslint, vitest related --run, prettier

adds pause button for testing
  src/components/organisms/account/account.tsx
  src/components/organisms/account/pauseButton.tsx
Due: tsc-files, eslint, vitest related --run, prettier

pause button
  src/backend/lambdas/handlers/pause-subscription.ts
  src/components/organisms/account/pauseButton.tsx
Due: tsc-files, eslint, vitest related --run, prettier

adds deploy:backend:watch
  README.md
  package.json
Due: prettier

removes warmer from handlers
  src/backend/lambdas/handlers/me.ts
  src/backend/lambdas/handlers/reset-password.ts
Due: tsc-files, eslint, vitest related --run, prettier

small readme tweak
  README.md
Due: prettier

adds tailwind css
  package-lock.json
  package.json
  postcss.config.js
  src/components/containers/form-section/form-section.css.ts
  src/components/organisms/account/account.tsx
  src/pages/account.page.tsx
  src/styles/globals.css
  src/styles/main.scss
  tailwind.config.js
Due: tsc-files, eslint, vitest related --run, prettier

adds some tailwind
  src/assets/global.scss
  src/components/atoms/button/button.tsx
  src/components/atoms/input/input.tsx
  src/components/containers/form-section/form-section.css.ts
  src/components/organisms/account/account.css.tsx
  src/components/organisms/account/pauseButton.tsx
  tailwind.config.js
Due: tsc-files, eslint, vitest related --run, prettier

adds shad cn
  @/lib/utils.ts
  components.json
  package-lock.json
  package.json
  src/assets/global.scss
  tailwind.config.js
Due: tsc-files, eslint, vitest related --run, prettier

tweaks css
  src/components/containers/form-section/form-section.css.ts
  src/components/organisms/account/account.tsx
Due: tsc-files, eslint, vitest related --run, prettier

adds pause selector with proposed dates
  @/components/ui/select.tsx
  package-lock.json
  package.json
  src/components/organisms/account/account-elements.tsx
  src/components/organisms/account/account.tsx
  src/components/organisms/account/pause-selector.tsx
  src/components/organisms/account/pauseButton.tsx
  src/components/ui/select.tsx
  tailwind.config.js
  tsconfig.json
Due: tsc-files, eslint, vitest related --run, prettier

adds schedule button
  package-lock.json
  package.json
  src/components/organisms/account/account-elements.tsx
  src/components/organisms/account/account.tsx
  src/components/organisms/account/pause-selector.tsx
  src/components/ui/button.tsx
  src/components/ui/main-button.tsx
Due: tsc-files, eslint, vitest related --run, prettier

smooths fonts
  src/assets/global.scss
Due: none

tweaks pausebutton
  src/components/organisms/account/pauseButton.tsx
  src/components/ui/main-button.tsx
Due: tsc-files, eslint, vitest related --run, prettier

Path conditions:
  tsc-files: any of: *.{ts,tsx}
  eslint: any of: *.{ts,tsx}
  vitest related --run: any of: *.{ts,tsx}
  prettier: ((any of: *.{ts,tsx}) or (any of: *.json)) or (any of: *.md)
