Repository the-nutritionist-mcr/online: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc-files, eslint, vitest related --run, prettier

Stuff
  .github/actions/setup-deps/action.yaml
  package-lock.json
  package.json
  vitest.config.ts
Due: tsc-files, eslint, vitest related --run, prettier

update coverage
  vitest.config.ts
Due: tsc-files, eslint, vitest related --run, prettier

update coverage
  .github/workflows/main.yml
  .gitignore
  cdk.json
  next.config.js
  package.json
  src/infrastructure/stack.ts
  src/utils/get-domain-name.ts
  tsconfig.cdk.json
Due: tsc-files, eslint, vitest related --run, prettier

add deps
  .github/workflows/main.yml
Due: none

update thresolds
  vitest.config.ts
Due: tsc-files, eslint, vitest related --run, prettier

stuff
  .github/workflows/main.yml
Due: none

Add deployment
  src/infrastructure/frontend-stack.ts
Due: tsc-files, eslint, vitest related --run, prettier

test deploy
  src/pages/login.page.tsx
Due: tsc-files, eslint, vitest related --run, prettier

add playwright
  .github/workflows/main.yml
  .github/workflows/playwright.yml
  .gitignore
  .npmrc
  .vscode/settings.json
  package-lock.json
  package.json
  playwright-tests/example.spec.ts
  playwright-tests/global-setup.ts
  playwright-tests/login.spec.ts
  playwright-tests/login.ts
  playwright-tests/recipes.seeded.spec.ts
  playwright.config.ts
  src/authorise-cognito-jwt/verify.spec.ts
  src/test-support/seed-cognito.ts
  tests-examples/demo-todo-app.spec.ts
Due: tsc-files, eslint, vitest related --run, prettier

fix label
  src/admin-app/features/recipes/Recipes.tsx
Due: tsc-files, eslint, vitest related --run, prettier

fix workflow
  .github/workflows/main.yml
  .github/workflows/playwright.yml
  playwright-tests/recipes.seeded.spec.ts
Due: tsc-files, eslint, vitest related --run, prettier

fix workflow
  .github/workflows/main.yml
Due: none

exclude test support
  vitest.config.ts
Due: tsc-files, eslint, vitest related --run, prettier

fix caching
  .github/actions/setup-deps/action.yaml
Due: none

remove deploy test string
  src/pages/login.page.tsx
Due: tsc-files, eslint, vitest related --run, prettier

add prod deploy
  .github/workflows/main.yml
Due: none

add trim fix
  src/admin-app/features/planner/FinalizeCell.tsx
Due: tsc-files, eslint, vitest related --run, prettier

fix weird scroll thing
  src/components/containers/tab-box/tab-box.css.ts
Due: tsc-files, eslint, vitest related --run, prettier

fix e2e tests
  playwright-tests/global-setup.ts
  playwright-tests/recipes.seeded.spec.ts
Due: tsc-files, eslint, vitest related --run, prettier

add test
  playwright-tests/recipes.seeded.spec.ts
  src/admin-app/features/recipes/edit-recipes-page.tsx
Due: tsc-files, eslint, vitest related --run, prettier

stuff
  .github/actions/setup-deps/action.yaml
  .github/workflows/main.yml
  package.json
  playwright-tests/recipes.seeded.spec.ts
  playwright.config.ts
Due: tsc-files, eslint, vitest related --run, prettier

stuff
  .github/workflows/main.yml
  playwright-tests/login.spec.ts
  playwright-tests/login.ts
  playwright-tests/recipes.seeded.spec.ts
Due: tsc-files, eslint, vitest related --run, prettier

dont audit
  .github/actions/setup-deps/action.yaml
Due: none

stuff
  README.md
  package.json
Due: prettier

test
  playwright-tests/recipes.seeded.spec.ts
Due: tsc-files, eslint, vitest related --run, prettier

test
  .github/workflows/main.yml
  README.md
  docs/ci.md
  package.json
Due: prettier

test
  docs/ci.md
Due: prettier

add some docs
  README.md
  docs/environments.md
  docs/testing.md
  package.json
Due: prettier

try to fix test
  docs/ci.md
  playwright-tests/recipes.seeded.spec.ts
  prettier.config.js
Due: tsc-files, eslint, vitest related --run, prettier

Update testing.md
  docs/testing.md
Due: prettier

try to fix tests
  .github/workflows/main.yml
  docs/ci.md
Due: prettier

permissions
  README.md
  docs/cloud-architecture.md
  docs/environments.md
  src/infrastructure/account-users-stack.ts
  src/infrastructure/backend-stack.ts
  src/infrastructure/stack.ts
Due: tsc-files, eslint, vitest related --run, prettier

permissions
  src/infrastructure/account-users-stack.ts
  src/infrastructure/make-developers-group.ts
Due: tsc-files, eslint, vitest related --run, prettier

permissions
  .github/actions/setup-deps/action.yaml
  .github/workflows/main.yml
  docs/ci.md
  playwright.config.ts
  src/infrastructure/stack.ts
Due: tsc-files, eslint, vitest related --run, prettier

pages
  .github/actions/upload-pages/action.yaml
  .github/workflows/main.yml
Due: none

docs
  .github/workflows/main.yml
Due: none

add environments
  .github/workflows/main.yml
Due: none

tweak deps
  .github/workflows/main.yml
Due: none

Path conditions:
  tsc-files: any of: *.{ts,tsx}
  eslint: any of: *.{ts,tsx}
  vitest related --run: any of: *.{ts,tsx}
  prettier: ((any of: *.{ts,tsx}) or (any of: *.json)) or (any of: *.md)
