Repository the-nutritionist-mcr/online: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc-files, eslint, vitest related --run, prettier

fix environment string
  .github/workflows/main.yml
Due: none

add pages permissions
  .github/workflows/main.yml
Due: none

Fix env urls
  .github/workflows/main.yml
Due: none

Fix docs deploy
  .github/workflows/main.yml
Due: none

Update ci.md
  docs/ci.md
Due: prettier

add docs
  tnm-docs/blog/2019-05-28-first-blog-post.md
  tnm-docs/blog/2019-05-29-long-blog-post.md
  tnm-docs/blog/2021-08-01-mdx-blog-post.mdx
  tnm-docs/blog/2021-08-26-welcome/docusaurus-plushie-banner.jpeg
  tnm-docs/blog/2021-08-26-welcome/index.md
  tnm-docs/blog/authors.yml
  tnm-docs/docs/Technical Documentation/_category_.json
  tnm-docs/docs/Technical Documentation/ci.md
  tnm-docs/docs/Technical Documentation/cloud-architecture.md
  tnm-docs/docs/Technical Documentation/environments.md
  tnm-docs/docs/Technical Documentation/testing.md
  tnm-docs/docs/intro.md
  tnm-docs/docs/tutorial-basics/_category_.json
  tnm-docs/docs/tutorial-basics/congratulations.md
  tnm-docs/docs/tutorial-basics/create-a-blog-post.md
  tnm-docs/docs/tutorial-basics/create-a-document.md
  tnm-docs/docs/tutorial-basics/create-a-page.md
  tnm-docs/docs/tutorial-basics/deploy-your-site.md
  tnm-docs/docs/tutorial-basics/markdown-features.mdx
  tnm-docs/docs/tutorial-extras/_category_.json
  tnm-docs/docs/tutorial-extras/img/docsVersionDropdown.png
  tnm-docs/docs/tutorial-extras/img/localeDropdown.png
  tnm-docs/docs/tutorial-extras/manage-docs-versions.md
  tnm-docs/docs/tutorial-extras/translate-your-site.md
  tnm-docs/docusaurus.config.js
  tnm-docs/package-lock.json
  tnm-docs/package.json
  tnm-docs/static/img/logo.svg
Due: prettier

add correct docs file
  .github/workflows/main.yml
  tnm-docs/docusaurus.config.js
Due: none

stuff
  playwright-tests/example.spec.ts
  playwright-tests/test-1.spec.ts
  playwright.config.ts
  tests-examples/demo-todo-app.spec.ts
  tnm-docs/docs/Technical Documentation/integration-with-chargebee.md
Due: tsc-files, eslint, vitest related --run, prettier

stuff
  .github/workflows/main.yml
Due: none

stuff
  playwright-tests/recipes.seeded.spec.ts
  tnm-docs/docs/Application Features/_category_.json
  tnm-docs/docs/Application Features/alternates.md
  tnm-docs/docs/Application Features/customers.md
  tnm-docs/docs/Application Features/customisations.md
  tnm-docs/docs/Application Features/labels.md
  tnm-docs/docs/Application Features/plan.md
  tnm-docs/docs/Application Features/recipes.md
  tnm-docs/docs/The Business/introduction.md
  tnm-docs/docusaurus.config.js
Due: tsc-files, eslint, vitest related --run, prettier

fix docs
  tnm-docs/docusaurus.config.js
  tnm-docs/src/pages/index.js
Due: none

fix docs
  .github/workflows/main.yml
  tnm-docs/docs/The Business/process.md
Due: prettier

fix baseurl for docs
  tnm-docs/docusaurus.config.js
Due: none

add docs website
  .github/workflows/deploy-docs.yml
  .github/workflows/main.yml
  tnm-docs/cdk.json
  tnm-docs/package-lock.json
  tnm-docs/package.json
  tnm-docs/src/infrastructure.ts
  tnm-docs/tsconfig.json
Due: tsc-files, eslint, vitest related --run, prettier

build: stuff
  src/infrastructure/stack.ts
  tnm-docs/src/infrastructure.ts
Due: tsc-files, eslint, vitest related --run, prettier

add dependency
  src/infrastructure/stack.ts
Due: tsc-files, eslint, vitest related --run, prettier

deploy credentials stack after everything is deployed
  .github/workflows/main.yml
  src/infrastructure/stack.ts
Due: tsc-files, eslint, vitest related --run, prettier

stuff
  .github/workflows/main.yml
  src/infrastructure/stack.ts
  tnm-docs/package.json
  tnm-docs/src/infrastructure.ts
Due: tsc-files, eslint, vitest related --run, prettier

fix docusaurus
  tnm-docs/docusaurus.config.js
Due: none

deploy to correct region
  tnm-docs/src/infrastructure.ts
Due: tsc-files, eslint, vitest related --run, prettier

add cognito permissions
  src/infrastructure/backend-stack.ts
  src/infrastructure/make-developers-group.ts
  src/infrastructure/stack.ts
Due: tsc-files, eslint, vitest related --run, prettier

add docs to environment
  .github/workflows/deploy-docs.yml
Due: none

add basic auth to docs
  .github/workflows/deploy-docs.yml
  tnm-docs/src/basic-auth-function.ts
  tnm-docs/src/infrastructure.ts
Due: tsc-files, eslint, vitest related --run, prettier

fix cf function
  tnm-docs/src/basic-auth-function.ts
Due: tsc-files, eslint, vitest related --run, prettier

fix edit url
  tnm-docs/docusaurus.config.js
Due: none

add AWS resources page to docs
  tnm-docs/docs/Technical Documentation/aws-resources.md
Due: prettier

Update aws-resources.md
  tnm-docs/docs/Technical Documentation/aws-resources.md
Due: prettier

Update cloud-architecture.md
  tnm-docs/docs/Technical Documentation/cloud-architecture.md
Due: prettier

add doc metadata
  tnm-docs/docs/Technical Documentation/cloud-architecture.md
  tnm-docs/docs/Technical Documentation/environments.md
  tnm-docs/docs/Technical Documentation/integration-with-chargebee.md
  tnm-docs/docs/Technical Documentation/testing.md
Due: prettier

add cache invalidation to docs site
  tnm-docs/src/infrastructure.ts
Due: tsc-files, eslint, vitest related --run, prettier

add role access for deployment
  src/infrastructure/make-developers-group.ts
Due: tsc-files, eslint, vitest related --run, prettier

fixed typo
  src/infrastructure/make-developers-group.ts
Due: tsc-files, eslint, vitest related --run, prettier

add local dev to npm run dev
  package.json
Due: prettier

complete process
  tnm-docs/docs/The Business/process.md
Due: prettier

add overlap
  tnm-docs/docs/The Business/process.md
Due: prettier

add planning mode details
  tnm-docs/docs/Application Features/recipes.md
Due: prettier

tweak wording
  tnm-docs/docs/The Business/process.md
Due: prettier

switch quotes to backticks
  tnm-docs/docs/Application Features/recipes.md
Due: prettier

add count algorithm
  tnm-docs/docs/Application Features/plan.md
  tnm-docs/docs/Application Features/recipes.md
  tnm-docs/docs/Application/Features/_category_.json
  tnm-docs/docs/Application/Features/labels.md
  tnm-docs/docs/Application/Features/plan.md
  tnm-docs/docs/Application/Pages/alternates.md
  tnm-docs/docs/Application/Pages/customers.md
  tnm-docs/docs/Application/Pages/customisations.md
  tnm-docs/docs/Application/Pages/planner.md
  tnm-docs/docs/Application/Pages/recipes.md
Due: prettier

Path conditions:
  tsc-files: any of: *.{ts,tsx}
  eslint: any of: *.{ts,tsx}
  vitest related --run: any of: *.{ts,tsx}
  prettier: ((any of: *.{ts,tsx}) or (any of: *.json)) or (any of: *.md)
